@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --font-headline: 'Josefin Sans', sans-serif;
  --font-text: "Open Sans", sans-serif;
  --color-black: #14080e;
  --color-alabaster: #fafafa;
  --color-yellow: #CEFF1A;
  --color-purple: #E0BEE2;
}

::selection {
  background: var(--color-black);
  color: var(--color-alabaster);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background: var(--color-alabaster);
  overflow-x: hidden;
  color: var(--color-black);
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;
}

main {
  margin: 0;
  font-family: var(--font-text);
  margin-top: 50px;
}

p {
  margin-top: 15px;
}

ul {
  margin-left: 60px;
  margin-top: 30px;
}

main a {
  text-decoration: none;
  color: var(--color-black);
  border-bottom: 2px solid var(--color-black);
}

main a:hover,
footer a:hover {
  text-decoration: none;
  color: var(--color-black);
  border-bottom: none;
}

h1,
h2,
h3,
h4 {
  color: var(--color-black);
  font-family: var(--font-text);
  letter-spacing: 0.09em;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 5rem;
  text-align: center;
}

h2 {
  font-size: 2.1rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.3rem;
}

.subheading {
  margin-bottom: 50px;
  text-align: center;
  font-size: 0.9rem;
  margin-top: -10px;
  font-weight: 500;
}

footer h2 {
  text-align: center;
}

.intro {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 100px;
  
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* HERO END */

.hero {
  width: 100vw;
 height: auto;
  
}

/* HERO END */

/* NAVIGATION */

nav {
  margin-top: 50px;
}

.nav-box {
  visibility: hidden;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: 30px;
}

nav ul li a {
  font-family: var(--font-text);
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--color-black);
  text-decoration: none;
  font-weight: bolder;
  position: relative;
}

nav ul li .nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: .1px;
  left: 0;
  z-index: -1;
  background-color: var(--color-yellow);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 600ms cubic-bezier(.215, .61, .355, 1);
  transition: all 600ms cubic-bezier(.215, .61, .355, 1);
}

nav ul li .nav-item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}

.nav-box ul li a:hover {
  font-weight: bold;
}

nav ul li .resume {
  padding: 15px 20px;
  background: var(--color-yellow);
  border-radius: 25px;
  color: var(--color-black);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-text);
  border: 1px solid var(--color-yellow);
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: normal;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

nav ul li .resume:hover {
  background: none;
  color: var(--color-black);
  border: 1px solid var(--color-yellow);
}

/* NAVIGATION END */

/* REFERENCES */

.references {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#author {
  font-family: var(--font-headline);
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 40px 0 0 0;
}

#job {
  margin: 0;
  font-size: 0.9rem;
}

.reference {
  display: flex;
  justify-content: center;
}

.review {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 55vw;
  min-height: 300px;
  color: var(--color-text);
}

.review figure {
  margin: 0;
}

.review blockquote {
  margin: 0;
}

.prev-btn,
.next-btn {
  cursor: pointer;
  background: 0;
  padding: 6px;
  margin-top: 50px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 0.1px solid var(--color-black);
}

.prev-btn svg,
.next-btn svg {
  height: 25px;
}

/* REFERENCES END */

/* ABOUT ME */

.about-me {
  background-color: var(--color-purple);
  margin-bottom: 100px;
}

.about-me-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

/* VIDEO */

.video {
  width: 700px;
  max-width: 500px;
  margin: 0 50px 0 0;
  position: relative;
  border-radius: 200px;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  padding: 10px;
  border-radius: 200px;
}

/* VIDEO END */

/* PROJECTS */

.two-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 10px;  
}

.two-columns div {
  max-width:450px;
}

.two-columns img {
  max-width: 500px;
  height: auto;
}

.image-large {
  width: 100%;
  max-width: 1020px;
  height: auto;
  margin: 30px 0;
}

.image-small {
  width: 100%;
  height: auto;
}

.button {
  text-align: center;
  margin: 0 auto;
  padding: 15px 20px;
  background: var(--color-black);
  border-radius: 25px;
  color: var(--color-alabaster);
  text-decoration: none;
  font-family: var(--font-text);
  border: 1px solid var(--color-black);
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: normal;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}


.button:hover {
  background: none;
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

/* PROJECTS END */

/* FOOTER */

footer { 
  height: 100vh;
  background: linear-gradient(-45deg, var(--color-purple), var(--color-alabaster), var(--color-yellow));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin: 50px 0 0 0;
  padding: 60px 0;
  display: flex;
 
  justify-content: center;
 
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer p {
  color: var(--color-black);
  font-family: var(--font-text);
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 50px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
}

footer ul li {
  font-family: var(--font-text);
}

footer ul li {
  text-decoration: none;
}

footer ul li a:hover .icon {
  transition: all 0.3s ease 0s;
}

footer ul li a:hover .icon {
  fill: transparent;
  stroke: var(--color-black);
}

.nav-portfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 750px) {

  .about-me-content {
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  nav ul {
    justify-content: center;
  }

  nav ul li {
    padding: 0;
  }

  .video {
    width: 250px;
    max-width: 250px;
    margin: 0 auto;
    position: relative;
    border-radius: 200px;
  }

  .two-columns div {
    width: 100vw;
    text-align: left;
  }

  img {
    margin-top: 50px;
  }

  
  nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  nav ul li {
    margin: 10px;
  }

 

}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}