@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --font-headline: 'Josefin Sans', sans-serif;
    --font-text: "Open Sans", sans-serif;
    --color-timberwolf: #eeeeee;
    --color-pink: #EF937F;
    --color-blue: #39A0ED;
    --color-green: #60712F;
    --color-white: #eeeeee;
    --color-black: #000000;
    --color-purple: #deccfa;
    --color-lighter: #feb9b0;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--color-black);
    color: var(--color-white);
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: var(--font-text);
    color: var(--color-black);
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, var(--color-timberwolf), var(--color-pink), var(--color-timberwolf));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-size: 4.6rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
    font-family: var(--font-headline);
    line-height: 5rem;
}

h2 {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
    font-family: var(--font-headline);
    line-height: 4rem;
}

.subheading {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: var(--font-text);
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
}

/* NAVIGATION */

nav {
    margin-top: 50px;
    margin-bottom: 100px;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    column-gap: 30px;
}

nav ul li a {
    font-size: 1rem;
    color: var(--color-black);
    text-decoration: none;
    position: relative;
}

nav ul li .nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: .5px;
    left: 0;
    z-index: -1;
    background-color: var(--color-black);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 600ms cubic-bezier(.215, .61, .355, 1);
    transition: all 600ms cubic-bezier(.215, .61, .355, 1);
}

nav ul li .nav-item:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.nav-box ul li a:hover {
    font-weight: bold;
}

nav ul li a svg {
    max-height: 20px;
    width: auto;
}

.nav-icon {
    margin-left: -10px;
}

.icon:hover,
.nav-icon:hover {
    fill: var(--color-blue);
}

.intro {
    font-size: 1.8rem;
    letter-spacing: .02rem;
    line-height: 2.8rem;
    margin: 30vh 0 30vh 0;
}

.intro p {
    margin: 3rem 0 1rem 0;
}

.intro a:first-child {
    background-color: var(--color-black);
    text-decoration: none;
    color: var(--color-timberwolf);
    letter-spacing: 0.05rem;
    border-radius: 100px;
    padding: 10px 20px;
    display: inline-block;
    border: 1.4px solid transparent;
    font-size: 1.1rem;
}

.intro a:first-child:hover {
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 0.05rem;
    border-radius: 100px;
    padding: 10px 20px;
    display: inline-block;
    color: var(--color-black);
    border: 1.4px solid var(--color-black);
}

/* ABOUT ME */

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.about-me div {
    max-width: 550px;
}

.about-me p {
    font-size: 1.26rem;
    letter-spacing: .02rem;
    line-height: 2.4rem;
}

.about-me p:not(:first-child) {
    margin-top: 2rem;
}

.about-me a {
    text-decoration: none;
    border-bottom: 2px solid var(--color-black);
    color: var(--color-black);
}

.about-me a:hover {
    border-bottom: 0px;
}

/* VIDEO */

.video {
    width: 280px;
    max-width: 280px;
    margin: 0;
    position: relative;
}

.video video {
    width: 280px;
    height: 280px;
    object-fit: cover;
    z-index: 0;
    border-radius: 200px;
    border: 5px solid var(--color-timberwolf);
}



/* REFERENCE */

.holder {
    position: relative;
    width: 100%;
    height: 50px;
}

.line {
    position: absolute;
    width: 100%;
    /* Height set to clip correctly basically background-size/2 + line width */
    height: 26px;
}
.line1 {
    background: linear-gradient(45deg, transparent, transparent 49%, var(--color-black) 49%, transparent 51%);
}
.line2 {
    background: linear-gradient(-45deg, transparent, transparent 49%, var(--color-black) 49%, transparent 51%);
}
.line {
    /* Must be after background definition. */
    background-size: 50px 50px;
}





.recommendations {
    margin-top: 25vh;
}

.review {
    padding: 40px 0;
    font-size: 1.2rem;    
    line-height: 2rem;   
    border-bottom: 1px solid var(--color-black); 
}

.author {
    font-weight: bolder;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 20px;
    line-height: 0.8rem;
}

.position {
    font-size: 1rem;
}


/* FOOTER */


footer {
    background-color: var(--color-timberwolf);
    padding: 50px 0;
}

.contact {
    margin-top: 10vh;
}

.coding-info {
    margin-top:30vh;
    font-size: 0.9rem;
}

footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}


@media (max-width: 650px) {

    nav ul {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 10px;
    }


}