@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

:root {
  --font-headline: 'Merriweather', serif;
  --font-poppins: 'Poppins', sans-serif;
  --color-black: #14080e;
  --color-text: #332D30;
  --color-red: #FD3E16;
  --color-white: #ffffff;
  --color-alabaster: #eeebe2;
}

::selection {
  background-color: var(--color-black);
  color: var(--color-alabaster);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  margin: 0;
}

.wrapper {
  max-width: 1020px;
  margin: 30px auto;
  padding: 30px;
}

main {
  margin: 0;
  font-family: var(--font-poppins);
}

h1, h2, h3 {
  color: var(--color-black);
}

h1 {
  font-size: 2.8rem; 
  letter-spacing: 0.09em;
  font-family: var(--font-headline);
}

h1 span {
  color: var(--color-red);
}

h2 {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 6rem;
  letter-spacing: 0.09em;
  font-family: var(--font-headline);
}

h3 {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.09em;
  font-family: var(--font-headline);
}

p {
  color: var(--color-text);
}

.subheading {
  text-align: center;
  margin-bottom: 4rem;
  font-family: var(--font-poppins);
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 6rem 0;
}

.resume .reference .contact {
  margin: 90px 0;
}

.about-me-picture {
  max-width: 100%;
  height: auto;
}


/* VIDEO */

.video {
  width: 350px;
  max-width: 350px;
  margin-bottom: 20px;
  position: relative; 
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  border-radius: 4px;
}

.text {
  max-width: 500px;
  margin-bottom: 20px;
}

p[role=doc-subtitle] {
  line-height: 1.8;
}

p[role=doc-subtitle] a {
  text-decoration: none;
  color: var(--color-black);
  border-bottom: 2px solid var(--color-black);
}

p[role=doc-subtitle] a:hover {
  text-decoration: none;
  color: var(--color-red);
  border-bottom: 2px solid var(--color-red);
}

.cta,
.download {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 10px 25px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--color-black);
  border-radius: 4px;
}

.cta:hover,
.download:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-red);
  color: var(--color-red);
}

.buttons {
  margin: 90px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* NAVIGATION */


.logo {
    padding: 120px 0 0 0;
    overflow: hidden;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    height: 0px;
    width: 120px;
    height: 120px;
    margin: 0;
}

header,
header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

header a {
  font-family: var(--font-poppins);
  text-decoration: none;
  color: var(--color-black);
  font-size: 1.1rem;
  position: relative;
}

header nav ul li {
  list-style: none;
  padding: 0px;
  margin-left: 20px;
}

header {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header nav ul li a {
  font-family: var(--font-poppins);
  text-decoration: none;
  color: var(--color-black);
  font-size: 0.9rem;
  position: relative;
}

nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: .1px;
  left: 0;
  z-index: -1;
  background-color: var(--color-red);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 600ms cubic-bezier(.215, .61, .355, 1);
  transition: all 600ms cubic-bezier(.215, .61, .355, 1)
}

nav ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}

/* NAVIGATION END */

/* PORTFOLIO */

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio .portfolio-item {
 width: 350px;
 max-width: 350px;
 margin: 40px;

}
.portfolio .portfolio-item img {
    margin-bottom: 20px;
    max-width: 350px;
}

.portfolio-item a {
  color: var(--color-black);
  text-decoration: none;
  border-bottom: 2px solid var(--color-black);
}

.portfolio-item a:hover {
  border-bottom: 2px solid var(--color-grey);
  color: var(--color-red);
}

.column-1,
.column-2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center
}

.app a, .prototype {
  text-decoration: none;
  color: var(--color-black);
  border-bottom: 1px solid var(--color-black);
}

.app a:hover, .prototype:hover {
  color: var(--color-red);
  border-bottom: 1px solid var(--color-grey);
}

.app-high-fidelity {
  text-align: center;
}

.intro {
  width: 450px;
  max-width: 450px;
  position: relative;
}

.two-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  margin: 6rem 0;
}

.two-columns .column {
  max-width: 400px;
}

.column img {
  max-width: 400px;
  height: auto;
}

.learnings {
  margin: 0 auto;
  max-width: 500px;
  height: auto;  
}

.learnings svg {
  margin: 50px 0;
}


/* PORTFOLIO END */

/* CERTIFICATION */

.certification {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.certification section {
  max-width: 150px;
}

.certification svg, .certification img {
  max-width: 100px;
  height: auto;
}

.link {
  text-decoration: none;
  color: var(--color-black);
  border-bottom: 2px solid var(--color-black);
}

.link:hover {
  border-bottom: none;
}

/* REFERENCES */

.reference {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review {
  padding: 15px;
  display: flex;
  flex-direction: column; 
  text-align: center;
  min-height: 300px;
  color: var(--color-text);
}

.review figure {
  margin: 0;
}

.review blockquote {
  margin: 0;
}

.review #job {
  margin-top: 5px;
}

.review #author {
  margin-bottom: 5px;
}

.prev-btn, .next-btn {
  cursor: pointer;
  background: 0;
  padding: 15px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 0;
}

.prev-btn svg, .next-btn svg {
  height: 25px;
}

/* REFERENCES END */

/* CONTACT */

.contact ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  font-family: var(--font-poppins);  
}

.contact ul li {
  line-height: 2.5rem;
  text-align: center;  
}

.contact li a, h3 a {
  text-decoration: none;
  border-bottom: 2px solid var(--color-black);
  color: var(--color-black);
}

.contact li a:hover, h3 a:hover {
  border-bottom: none;
}

/* CONTACT END */

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-poppins);  
}

footer a {
  text-decoration: none;
  color: var(--color-black);
  border-bottom: 2px solid var(--color-black);
  font-size: 0.9rem;
}

footer a:hover {
 border-bottom: none;
}

footer p {
  color: var(--color-text);
  font-weight: lighter;
  font-size: 0.8rem;
  padding: 50px 0 0 0;
}

/* FOOTER END */

/* RESUME TIMELINE */

.timeline {
  position: relative;
  max-width: 1000px;
  margin: 50px auto;
  display: grid;
  grid-gap: 5em;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  grid-template-areas:
    "area-1 ."
    ". area-2"
    "area-3 ."
    ". area-4"
    "area-5 ."
    ". area-6";
}

.timeline-box-1 {
  grid-area: area-1;
}

.timeline-box-2 {
  grid-area: area-2;
}

.timeline-box-3 {
  grid-area: area-3;
}

.timeline-box-4 {
  grid-area: area-4;
}

.timeline-box-5 {
  grid-area: area-5;
}

.timeline-box-6 {
  grid-area: area-6;
}

.timeline::before {
  content: "";
  width: 1px;
  height: 100%;
  background: var(--color-black);
  position: absolute;
  top: 10px;
  left: 49.5%;
  border-radius: 40px 40px;
}

.box ul li,
.box p {
  font-size: 0.8rem;
}

.box {
  width: 400px;
  max-width: 400px;
  font-family: var(--font-poppins);
  color: var(--color-text);
  padding: 25px;
  background: var(--color-white);
}

.box h3 {
  margin-bottom: 10px;
}

.box a {
  color: var(--color-black);
  text-decoration: none;
  border-bottom: 2px solid var(--color-black);
}

.box a:hover {
  color: var(--color-red);
  border-bottom: 2px solid var(--color-grey);
}

.box:before {
  content: "";
  color: #ffffff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  background-color: var(--color-red);
  border: 1px solid var(--color-black);
  border-radius: 50%;
  position: absolute;
  left: calc(49.3% - 0.9em);
}

@media (max-width: 900px) {

  .timeline::before {
    content: "";
    width: 1px;
    height: 100%;
    background: var(--color-black);
    position: absolute;
    top: 10px;
    left: 4.5%;
    border-radius: 40px 40px;
  }

  .box:before {
    left: calc(5% - 1.25em);
  }

  .timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .box {
    margin: 10px 0 30px 50px;
    max-width: calc(80%-8%);
    width: auto;
  }

}

/* RESUME TIMELINE END */

@media (max-width: 580px) {

  header,
  header nav {
    flex-direction: column;
    justify-content: center;
  }

  nav ul {
    padding-left: 0px;
  }

  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header nav ul li {
    margin-top: 10px;
  }

}

@media (max-width: 450px) {

  .buttons {
    flex-direction: column;

  }

  .buttons .download-cta {
    margin-top: 40px;
  }



}

/* REFERENCES */

